# Ignore all .txt files
*.txt

# Ignore all __pycache__ directories
__pycache__/

#ignore webots world files
*.wbproj
*.wbt

# Ignore all .csv files
*.csv



jobfiles/Run_*

# IDE files
/.vscode

# compiled files
*.exe
controllers/cpp_supervisor/cpp_supervisor
controllers/inspection_controller/inspection_controller
__pycache__/
build/
